@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #1a2b38;
  background-color: #0b2e52;
  background-image: url("/blueprint-bg.svg");
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
